
<article>
    <img style="top:100px;" id="centerad" src="images/notice2.png">
</article> 
<aside>
<img id="subbar" src="images/menubar.png">
<img style="left:80px;" id="plus" src="images/부가기능.png">
<a href=""><img id="chatting" src="images/채팅하기.png"></a>
<a href=""><img id="keyword" src="images/관심키워드등록.png"></a>
<br/>
<br/>
<img src="images/line.png">
</aside>
<footer>
<div id="copyright" >
Copyright (c) 2017 MY OWN WWW(LSH) Inc. All rights reserved
</div>
<br/><br/>
<div id="SNS">
   <a href="http://facebook.com" > 
   <img src="images/facebook.png" height="32" alt="Facebook">
   </a>
   <a href="http://twitter.com" > 
   <img src="images/twitter.png" height="32" alt="Twitter">
   </a>
   <a href="http://plus.google.com" > 
   <img src="images/googleplus-icon.png" height="32" alt="Google Plus">
   </a>
   <br/><br/><br/>
</div>
</footer>