<img style="top:350px;" id="ad_fixed" src="images/ad.png"> 
<header id="top">
   <a href="/"><img src="images/logo.png"></a>
</header>


<nav id="menu">
   <img id="menubar" src="images/menubar.png">
   <a href=""><img id="issue" src="images/IT이슈.png"></a>
   <a href="problem"><img id="cbt" src="images/기출문제.png"></a>
   <a href="list"><img id="trade" src="images/중고거래.png"></a>
   <a href="login"><img id="logreg" src="images/logreg.png"></a>
</nav>