<!DOCTYPE html>
   <html>
      <head>
         <title>IT 안심 중고거래 매칭 커뮤니티</title>
         <style type="text/css">
             
             #top { width:600px; height:100px; margin-left: 50px }

             #menubar {z-index: 1; width: 900px; margin-top: 80px; position: relative;}
             #catby {z-index: 2; width: 100px; margin-top: 90px; left: 15px;
                position: absolute;}
             #subbar {z-index: 1; width: 900px; margin-top: 20px; position: relative;}

             footer #copyright { margin: 20px 0 0 10px; float: left; }
             footer #SNS { margin: 10px 20px 0 30px;}
             footer #copyright { font-family: consolas; }
             footer #SNS a { text-decoration: none; }
             footer { height: 70px }

             #ad_fixed { position: fixed; top: 350px; right: 30px; border: thin solid orange; padding: 5px; border-top-left-radius: 8px; border-bottom-right-radius: 8px; box-shadow: 2px 2px 20px 4px orange inset;}
             #centerad {position: fixed; margin-top: 100px; left: 1250px;}


            
            
            #field_control {background-color: white; width: 400px;}

            #top { width:600px; height:100px; margin-left: 250px }

#menubar {z-index: 1; width: 1175px; margin-top: 80px; position: relative;}
#issue {z-index: 2; width: 330px; margin-top: 90px; left: 60px;
   position: absolute;}
#cbt {z-index: 2; width: 180px; margin-top: 88px; left: 445px;
   position: absolute;   }   
#trade {z-index: 2; width: 175px; margin-top: 88px; left: 670px;
   position: absolute;   }
#logreg {z-index: 2; width: 220px;  margin-top: 93px; left: 920px;
   position: absolute;   }
#banner {z-index: 1; position: relative;}
#subbar {z-index: 1; width: 1175px; margin-top: 20px; position: relative;}
#plus {z-index: 2; margin-top: 28px; left: 50px; position: absolute;}
#chatting {z-index: 2; margin-top: 32px; left: 1000px; position: absolute; }
#keyword {z-index: 2; width: 50px; top: 100px; margin-top: 31px; left: 250px; position: absolute;}
#norway {margin-top: 10px;}
#bang {margin-top: 10px; margin-left: 55px;}
             
         </style>
            

      </head>

      <body>
            <article>
               <img id="centerad" src="images/notice2.png">
            </article>

            <img id="ad_fixed" src="images/ad.png">
            <header id="top">
               <a href="/"><img src="images/logo.png"></a>
            </header>
         

            <nav>
               <img id="menubar" src="images/menubar.png">
               <a href="/signup"><img id="catby" src="images/register.png"></a>
            </nav>
            <br/>

            <form action="/login" method="POST">
                <a>&nbsp;&nbsp;로그인</a>
               <fieldset id="field_control">
                   <span>사용자 아이디</span>
                   <input type="text" name="id"/><br/>
                   <span>비밀번호</span>
                   <input type="password" name="Password"/><br/>
                   <span></span>
                   <input type="submit" value="로그인" abled/>
                   <input type="button" value="취소" abled/>
                </fieldset><br/>
               <img src="images/line.png">
             </form>

             <footer>
               <div id="copyright" >
               Copyright (c) 2018 MY OWN WWW(LSH) Inc. All rights reserved
               </div>
               <br/><br/>
               <div id="SNS">
                  <a href="http://facebook.com" > 
                  <img src="images/facebook.png" height="32" alt="Facebook">
                  </a>
                  <a href="http://twitter.com" > 
                  <img src="images/twitter.png" height="32" alt="Twitter">
                  </a>
                  <a href="http://plus.google.com" > 
                  <img src="images/googleplus-icon.png" height="32" alt="Google Plus">
                  </a>
                  <br/><br/><br/>
               </div>
            </footer>